In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/used-car-dataset/used_car_dataset.csv

Load the dataset and look at the first few rows of data.

In [2]:
df = pd.read_csv('/kaggle/input/used-car-dataset/used_car_dataset.csv')
df.head()

,Brand,model,Year,Age,kmDriven,Transmission,Owner,FuelType,PostedDate,AdditionInfo,AskPrice
0,Honda,City,2001,23,"98,000 km",Manual,second,Petrol,Nov-24,"Honda City v teck in mint condition, valid gen...","₹ 1,95,000"
1,Toyota,Innova,2009,15,190000.0 km,Manual,second,Diesel,Jul-24,"Toyota Innova 2.5 G (Diesel) 7 Seater, 2009, D...","₹ 3,75,000"
2,Volkswagen,VentoTest,2010,14,"77,246 km",Manual,first,Diesel,Nov-24,"Volkswagen Vento 2010-2013 Diesel Breeze, 2010...","₹ 1,84,999"
3,Maruti Suzuki,Swift,2017,7,"83,500 km",Manual,second,Diesel,Nov-24,Maruti Suzuki Swift 2017 Diesel Good Condition,"₹ 5,65,000"
4,Maruti Suzuki,Baleno,2019,5,"45,000 km",Automatic,first,Petrol,Nov-24,"Maruti Suzuki Baleno Alpha CVT, 2019, Petrol","₹ 6,85,000"

Let's see the total number of rows and columns.

In [3]:
df.shape

(9582, 11)

Let's see if we have any missing values in this table.

In [4]:
df.info()       # Information about columns, data types, and non-null counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9582 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9582 non-null   object
 1   model         9582 non-null   object
 2   Year          9582 non-null   int64
 3   Age           9582 non-null   int64
 4   kmDriven      9535 non-null   object
 5   Transmission  9582 non-null   object
 6   Owner         9582 non-null   object
 7   FuelType      9582 non-null   object
 8   PostedDate    9582 non-null   object
 9   AdditionInfo  9582 non-null   object
 10  AskPrice      9582 non-null   object
dtypes: int64(2), object(9)
memory usage: 823.6+ KB

All of the features except 'kmDriven' are complete.

In [5]:
# Count missing values in 'kmDriven'
missing_values = df.kmDriven.isna().sum()

# Display the result
print(f'The kmDriven feature is missing {missing_values} values')

The kmDriven feature is missing 47 values

Let's see the rows with missing kmDriven and see if we can spot any similarities between the entries.

In [6]:
# Show rows where column kmDriven has missing values
rows_with_missing = df[df['kmDriven'].isna()]

# Display the result
print(rows_with_missing)

              Brand              model  Year  Age kmDriven Transmission  \
231   Maruti Suzuki           Alto-800  2019    5      NaN       Manual
353          Toyota             Innova  2016    8      NaN       Manual
444           Honda            City ZX  2024    0      NaN    Automatic
476         Hyundai        Santro Xing  2010   14      NaN    Automatic
608          Toyota              Etios  2012   12      NaN       Manual
793           Skoda             Kushaq  2010   14      NaN    Automatic
976        Mahindra    Bolero Neo Plus  2015    9      NaN    Automatic
1164       Mahindra         Bolero Neo  2023    1      NaN       Manual
1199           Tata             Indica  2014   10      NaN       Manual
1413        Hyundai        Santro Xing  2007   17      NaN       Manual
1978           Tata          Tiago Nrg  2021    3      NaN    Automatic
2680  Maruti Suzuki         Zen-Estilo  2008   16      NaN    Automatic
2847  Maruti Suzuki           S-Presso  2021    3      NaN    Automatic
3009  Maruti Suzuki             Baleno  2018    6      NaN       Manual
3361     Ambassador         Ambassador  2008   16      NaN       Manual
3418          Honda               City  2001   23      NaN       Manual
3749       Mahindra  Bolero Power Plus  2015    9      NaN    Automatic
3869  Maruti Suzuki             Esteem  2007   17      NaN       Manual
3922  Maruti Suzuki               Omni  2008   16      NaN       Manual
4192           ICML           Rhino Rx  2010   14      NaN       Manual
4937         Toyota             Innova  2014   10      NaN       Manual
5056  Maruti Suzuki        Swift-Dzire  2011   13      NaN       Manual
5074        Hyundai          Grand i10  2019    5      NaN       Manual
5180           Tata              Tiago  2018    6      NaN    Automatic
5398  Maruti Suzuki        Swift-Dzire  2014   10      NaN       Manual
5690  Maruti Suzuki              Swift  2007   17      NaN    Automatic
5762        Renault               KWID  2019    5      NaN    Automatic
5953  Maruti Suzuki          Baleno-RS  2017    7      NaN       Manual
5971  Maruti Suzuki               Eeco  2019    5      NaN    Automatic
6003           Tata          Indigo Cs  2016    8      NaN    Automatic
6384  Maruti Suzuki            Wagon-R  2010   14      NaN    Automatic
6718        Hyundai               Aura  2022    2      NaN    Automatic
6749  Maruti Suzuki             Brezza  2023    1      NaN    Automatic
7023         Toyota              Etios  2013   11      NaN    Automatic
7076  Maruti Suzuki        Swift-Dzire  2013   11      NaN       Manual
7242  Maruti Suzuki         Zen-Estilo  1998   26      NaN       Manual
7867  Maruti Suzuki               Eeco  2015    9      NaN    Automatic
7904  Maruti Suzuki            Wagon-R  2015    9      NaN       Manual
8039     Volkswagen              Jetta  2013   11      NaN       Manual
8238           Tata               Nano  2015    9      NaN       Manual
8361  Maruti Suzuki               Alto  2005   19      NaN       Manual
8591  Maruti Suzuki               Eeco  2015    9      NaN    Automatic
8851        Hyundai          Elite i20  2019    5      NaN       Manual
9015          Honda             Accord  2007   17      NaN    Automatic
9105  Maruti Suzuki                800  2004   20      NaN    Automatic
9178        Hyundai        Santro Xing  2007   17      NaN       Manual
9563  Maruti Suzuki               Eeco  2015    9      NaN       Manual

       Owner    FuelType PostedDate  \
231    first      Petrol     Nov-24
353   second      Diesel     Nov-24
444    first      Petrol     Nov-24
476   second      Petrol     Nov-24
608   second      Diesel     Nov-24
793    first      Petrol     Nov-24
976    first      Diesel     Nov-24
1164   first      Diesel     Nov-24
1199   first      Diesel     Nov-24
1413  second      Petrol     Nov-24
1978   first      Petrol     Nov-24
2680  second      Petrol     Nov-24
2847   first      Petrol     Nov-24
3009   first      Petrol     Nov-24
3361   first      Diesel     Nov-24
3418  second      Petrol     Nov-24
3749  second      Diesel     Nov-24
3869  second  Hybrid/CNG     Nov-24
3922  second  Hybrid/CNG     Nov-24
4192  second      Diesel     Nov-24
4937  second      Diesel     Nov-24
5056  second      Petrol     Nov-24
5074   first      Petrol     Nov-24
5180  second  Hybrid/CNG     Nov-24
5398  second      Diesel     Nov-24
5690  second  Hybrid/CNG     Nov-24
5762  second  Hybrid/CNG     Nov-24
5953   first      Petrol     Nov-24
5971  second  Hybrid/CNG     Nov-24
6003   first  Hybrid/CNG     Oct-24
6384   first  Hybrid/CNG     Nov-24
6718   first  Hybrid/CNG     Nov-24
6749   first  Hybrid/CNG     Nov-24
7023  second      Petrol     Nov-24
7076  second      Diesel     Nov-24
7242  second      Petrol     Nov-24
7867  second  Hybrid/CNG     Nov-24
7904  second  Hybrid/CNG     Nov-24
8039  second      Diesel     Nov-24
8238  second      Petrol     Nov-24
8361  second      Petrol     Nov-24
8591  second  Hybrid/CNG     Nov-24
8851   first      Petrol     Nov-24
9015  second  Hybrid/CNG     Nov-24
9105  second      Petrol     Nov-24
9178  second      Petrol     Nov-24
9563  second  Hybrid/CNG     Nov-24

                                           AdditionInfo     AskPrice
231                              Maruti Suzuki Alto 800   ₹ 3,00,000
353                     Toyota Innova 2016 model Diesel   ₹ 8,60,000
444                                          Honda City  ₹ 15,50,000
476                            Hyundai Santro Xing 2010   ₹ 1,20,000
608                  Toyota Etios Diesel Good Condition   ₹ 3,30,000
793   Car will have perfect condition,negotiation ar...   ₹ 4,00,000
976                       Mahindra Bolero Neo Plus 2015   ₹ 4,50,000
1164                    Mahindra Bolero Neo 2023 Diesel  ₹ 10,00,000
1199                                       Good running   ₹ 2,50,000
1413     Hyundai Santro Xing 2007 Petrol Good Condition   ₹ 1,48,000
1978     Tata Tiago NRG 2021Last Petrol Well Maintained   ₹ 4,30,000
2680                             Renuw RR validity 2028   ₹ 1,80,000
2847                             Maruti Suzuki S-Presso   ₹ 4,25,000
3009                          Maruti Suzuki Baleno 2018   ₹ 4,85,000
3361  Ambassador Ambassador 2008 Diesel Well Maintained   ₹ 1,50,000
3418  Honda City 2001 Petrol with CNG for immediate ...     ₹ 55,000
3749  Mahindra Bolero Power Plus 2015 Diesel Good Co...   ₹ 4,50,000
3869  Maruti Suzuki Esteem 2007 CNG & Hybrids Good C...   ₹ 1,00,000
3922                                       Sell for car     ₹ 51,786
4192          ICML Rhino Rx 2010 Diesel Well Maintained   ₹ 1,95,000
4937                                 Toyota Innova 2014  ₹ 10,50,000
5056  Maruti Suzuki Swift Dzire 2011 Petrol Well Mai...   ₹ 3,50,000
5074      Hyundai Grand i10 2019 Petrol Well Maintained   ₹ 5,50,000
5180                      Tata Tiago 2018 CNG & Hybrids   ₹ 4,20,000
5398                     Maruti Suzuki Swift Dzire 2014   ₹ 4,10,000
5690             Maruti Suzuki Swift 2007 CNG & Hybrids   ₹ 1,18,000
5762                   CNG car with GPS  good condition   ₹ 3,10,000
5953                Maruti Suzuki Baleno RS 2017 Petrol   ₹ 4,70,000
5971                          CNG bahar se lagi Hui hai   ₹ 4,50,000
6003                         Tata Indigo CS 2016 Petrol   ₹ 1,60,000
6384           Maruti Suzuki Wagon R 2010 CNG & Hybrids     ₹ 95,000
6718    Hyundai Aura 2022 CNG & Hybrids Well Maintained   ₹ 7,80,000
6749                             Toli  becani  h urgent   ₹ 1,50,000
7023             Etios v 2013 modal didwana sell 320000   ₹ 3,20,000
7076              Maruti Suzuki Swift Dzire 2013 Diesel   ₹ 2,45,000
7242  Zen 1998 model,insurence renewed,test in 2025 ...     ₹ 27,000
7867                                  ecco7 full okay h   ₹ 2,60,000
7904                         Maruti Suzuki Wagon R 2015   ₹ 2,15,000
8039        Volkswagen Jetta 2013 Diesel Good Condition   ₹ 3,10,000
8238                      Tata Nano 2015 Good Condition   ₹ 1,14,999
8361      Maruti Suzuki Alto 2005 Petrol Good Condition     ₹ 40,000
8591                                  ecco7 full okay h   ₹ 2,60,000
8851      Hyundai Elite i20 2019 Petrol Well Maintained   ₹ 4,75,000
9015                    Honda Accord 2007 CNG & Hybrids   ₹ 1,35,000
9105                      Maruti Suzuki 800 2004 Petrol     ₹ 60,000
9178                                Well maintained car     ₹ 90,000
9563  Maruti Suzuki Eeco 2015 CNG & Hybrids Well Mai...   ₹ 3,20,000

I'm seeing a lot of 'Maruti Suzuki' entries. I wonder how common this Brand is in India? There are a few rows with this value for Brand in the rows with missing prices. Let's see how many rows have 'Maruti Suzuki' as the Brand in the whole dataset.

In [7]:
# Count rows where model has the value "Maruti Suzuki"
rows_count = (df['Brand'] == 'Maruti Suzuki').sum()
rows_count

2720

OK! That's a lot more than I expected. I don't think we need to worry too much about the large representation of 'Maruti Suzuki' branded cars in the rows with missing prices.

Next Let's fill in those missing data with the average mileage based on the Age of the car.

First we need to convert the AskPrice to integers.

In [8]:
# Convert the AskPrice column to numeric values
df["AskPrice"] = (
    df["AskPrice"]  # Original column
    .str.replace("₹", "", regex=False)  # Remove the currency symbol
    .str.replace(",", "")  # Remove commas
    .astype(int)  # Convert to integer
)

In [9]:
# df["Age"] = df["Age"].astype("object")
df.dtypes

Brand           object
model           object
Year             int64
Age              int64
kmDriven        object
Transmission    object
Owner           object
FuelType        object
PostedDate      object
AdditionInfo    object
AskPrice         int64
dtype: object

In [10]:
#  Clean up the knDriven text
df["kmDriven"] = (
    df["kmDriven"]
    .str.replace(",", "", regex=False)
    .str.replace(" km", "", regex=False)
    .astype(float)  # Convert to float
)

# Drop rows with NaN in kmDriven
df = df.dropna(subset=["kmDriven"])

# Convert to integer
df["kmDriven"] = df["kmDriven"].astype(int)

Are the empty cells now filled?

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9535 entries, 0 to 9581
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         9535 non-null   object
 1   model         9535 non-null   object
 2   Year          9535 non-null   int64
 3   Age           9535 non-null   int64
 4   kmDriven      9535 non-null   int64
 5   Transmission  9535 non-null   object
 6   Owner         9535 non-null   object
 7   FuelType      9535 non-null   object
 8   PostedDate    9535 non-null   object
 9   AdditionInfo  9535 non-null   object
 10  AskPrice      9535 non-null   int64
dtypes: int64(4), object(7)
memory usage: 893.9+ KB

Yes they are!

In [12]:
df.dtypes

Brand           object
model           object
Year             int64
Age              int64
kmDriven         int64
Transmission    object
Owner           object
FuelType        object
PostedDate      object
AdditionInfo    object
AskPrice         int64
dtype: object

Now we need to look at some of these columns and determine the type of data in them, and how we may need to encode some of them.

In [13]:
unique_counts = df.nunique(dropna=False)

# Display the result
print(unique_counts)

Brand             38
model            398
Year              32
Age               32
kmDriven        1745
Transmission       2
Owner              2
FuelType           3
PostedDate        12
AdditionInfo    7270
AskPrice        1326
dtype: int64

Here are the unique Brands. Let's look for any accidental duplicates caused by mispelling or other causes.

In [14]:
# Show unique values of Brand
unique_brands = sorted(df["Brand"].unique())

# Display the result
print(unique_brands)

['Ambassador', 'Ashok', 'Aston Martin', 'Audi', 'BMW', 'Bajaj', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover', 'Lexus', 'MG', 'Mahindra', 'Maruti Suzuki', 'Maserati', 'Mercedes-Benz', 'Mini', 'Mitsubishi', 'Nissan', 'Opel', 'Porsche', 'Renault', 'Rolls-Royce', 'Skoda', 'Ssangyong', 'Tata', 'Toyota', 'Volkswagen', 'Volvo']

Good. They are all unique brands.

In [15]:
# Show unique values of Brand
unique_models = sorted(df["model"].unique())

# Display the result
print(unique_models)

[' Wagon R', '1 Series', '1000', '2 Series', '2.8 Legender 4X2', '2.9 Sportback', '3 DOOR', '3 Series', '3 Series GT', '3 Series Gran Limousine', '5 DOOR', '5 Series', '5 Series Gt', '6 Series', '6 Series GT', '7 Series', '718', '800', 'A Class', 'A-Class Limousine', 'A-Star', 'A-class Limousine', 'A3', 'A3 Cabriolet', 'A4', 'A5', 'A6', 'A8 L', 'AMG', 'AMG A35', 'AMG C 43', 'AMG GLE Coupe', 'ASTOR', 'Accent', 'Accent Hatchback', 'Accord', 'Alcazar', 'Alto', 'Alto 800', 'Alto K10', 'Alto-800', 'Alto-K10', 'Altroz', 'Alturas G4', 'Amaze', 'Ambassador', 'Ameo', 'Aspire', 'Aura', 'Avventura', 'B Class', 'BRV', 'Baleno', 'Baleno-RS', 'Beat', 'Beetle', 'Bolero', 'Bolero Neo', 'Bolero Neo Plus', 'Bolero Power Plus', 'Bolt', 'Boxster', 'Brezza', 'Brio', 'C Class', 'C-Class', 'CERATO', 'CLA', 'CLS-Class', 'CR-V', 'CRV', 'Camry', 'Captiva', 'Captur', 'Carens', 'Carnival', 'Cayenne', 'Cayenne Coupe', 'Cayman', 'Cedia', 'Celerio', 'Celerio X', 'Celerio-X', 'Ciaz', 'City', 'City Hybrid eHEV', 'City ZX', 'Civic', 'Compass', 'Cooper', 'Cooper 3 DOOR', 'Cooper 5 DOOR', 'Cooper Clubman', 'Cooper Convertible', 'Cooper Countryman', 'Cooper S', 'Corolla', 'Corolla Altis', 'Corsa', 'Countryman', 'Creta', 'Creta Facelift', 'CrossPolo', 'Cruze', 'Curvv', 'D-Max V-Cross', 'Defender', 'Discovery', 'Discovery Sport', 'Duster', 'Dzire', 'E-20', 'E-Class', 'EON', 'ES', 'Ecosport', 'Eeco', 'Elantra', 'Elevate', 'Elite i20', 'Endeavour', 'Enjoy', 'Eon', 'Ertiga', 'Esteem', 'Estilo', 'Estima', 'Etios', 'Etios Cross', 'Etios Liva', 'Exter', 'F-Pace', 'Fabia', 'Fiesta', 'Fiesta Classic', 'Figo', 'Figo Aspire', 'Fluence', 'Fluidic Verna', 'Flying Spur', 'Fortuner', 'Free Style', 'Freelander 2', 'Fronx', 'Fronx ', 'G', 'G Class', 'G-Class', 'GL-Class', 'GLA', 'GLA Class', 'GLC', 'GLC Class', 'GLC Coupe', 'GLE', 'GLE COUPE', 'GLE Class', 'GLS', 'GO', 'GO Plus', 'GTI', 'Getz', 'Getz Prime', 'Glanza', 'Gloster', 'Gran Turismo', 'Grand Punto', 'Grand Vitara', 'Grand i10', 'Grand i10 Nios', 'Grand i10 Prime', 'Gypsy', 'H5x', 'Harrier', 'Hector', 'Hector Plus', 'Hexa', 'Hi-Lande Isuzu Hi-Lander', 'Ignis', 'Ikon', 'Indica', 'Indica Ev2', 'Indica V2', 'Indica Vista', 'Indigo Cs', 'Indigo Ecs', 'Indigo Marina', 'Innova', 'Innova Crysta', 'Innova Hycross', 'Invicto', 'Jazz', 'Jeep', 'Jetta', 'Jimny', 'KUV 100', 'KUV100 NXT', 'KWID', 'Kicks', 'Kiger', 'Kodiaq', 'Kushaq', 'LS', 'LX', 'Lancer', 'Land Cruiser', 'Land Cruiser Prado', 'Laura', 'Leyland Stile', 'Linea', 'Lodgy', 'M-Class', 'M340i', 'MAX', 'MICRA PRIMO', 'MUX', 'Macan', 'Magnite', 'Manza', 'Marazzo', 'Marshal', 'Meridian', 'Micra', 'Micra Active', 'Mobilio', 'Motors FM Force One Test', 'Motors FM Gurkha', 'Motors FM Trax Cruiser', 'Mustang', 'NX', 'Nano', 'Nano Genx', 'New Accord', 'New Duster', 'New Elantra', 'New Santro', 'New i20', 'New-gen Swift', 'Nexon', 'Nuvosport', 'Octavia', 'Omni', 'Optra', 'Optra Magnum', 'OptraSRV', 'Others', 'Outlander', 'PATROL', 'Pajero Sport', 'Panamera', 'Passat', 'Phantom Drop HeadCoupe', 'Phantom Series II', 'Polo', 'Polo GTI', 'Pulse', 'Punch', 'Punch ', 'Punto', 'Punto EVO', 'Punto Pure', 'Q3', 'Q5', 'Q7', 'Quanto', 'RE60', 'RX', 'Range Rover', 'Range Rover Evoque', 'Range Rover Sport', 'Range Rover Velar', 'Rapid', 'Redi Go', 'RediGO', 'Renault Logan', 'Rexton', 'Ritz', 'S 80', 'S-Class', 'S-Cross', 'S-Cross1', 'S-Presso', 'S60', 'S60 Cross Country', 'S80', 'S90', 'SL-Class', 'SLK-Class', 'SX4', 'Safari', 'Safari Storme', 'Sail', 'Sail U-VA', 'Santa Fe', 'Santro', 'Santro Xing', 'Scala', 'Scorpio', 'Scorpio Classic', 'Scorpio N', 'Scorpio-N', 'Seltos', 'Slavia', 'Sonata', 'Sonata Embera', 'Sonet', 'Spark', 'Ssangyong Rexton', 'Ssangyong-Rexton', 'Stingray', 'Sumo', 'Sumo Gold', 'Sumo Grande MK II', 'Sumo Victa', 'Sunny', 'Superb', 'Swift', 'Swift Dzire', 'Swift-Dzire', 'Swift-Dzire-Tour', 'Sx4', 'TUV', 'TUV 300', 'TUV 300-plus', 'Taigun', 'Tavera', 'Teana', 'Terrano', 'Thar', 'Tiago', 'Tigor', 'Tiguan', 'Tiguan All Space', 'Trailblazer', 'Triber', 'Tucson', 'Urban Cross', 'Urban Cruiser', 'Urban Cruiser Hyryder', 'Urvan', 'V-Class', 'V40 Cross Country', 'VELLFIRE', 'Vanquish', 'Vento', 'VentoTest', 'Venture', 'Venue', 'Venue N Line', 'Verito', 'Verna', 'Virtus', 'Vista Tech', 'Vitara Brezza', 'Vitara-Brezza', 'WR-V', 'WRV', 'Wagon R', 'Wagon R 1.0', 'Wagon-R', 'Wagon-R-1-0', 'Wagon-R-Stingray', 'Wrangler', 'X1', 'X3', 'X4', 'X5', 'X5 M', 'X6', 'X7', 'XC 90', 'XC40', 'XC60', 'XC90', 'XE', 'XF', 'XJ', 'XL6', 'XUV 300', 'XUV300', 'XUV500', 'XUV700', 'Xcent', 'Xcent Prime', 'Xenon XT', 'Xylo', 'Yaris', 'Z4', 'Zen Estilo', 'Zen-Estilo', 'Zest', 'i10', 'i20', 'i20 Active', 'i20 N Line', 'maruti-suzuki-brezza', 'maruti-suzuki-dzire', 'tata-punch']